@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3 class="py-3">@ViewData["Message"]</h3>

<address>
    <p>Professor @ViewData["Professor"]<br>
    <strong> More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a></p>
</address>

<address>
    <p>
        @ViewData["Estudante"]<br>
        <strong> Acesse: </strong> <a href="https://github.com/ThiagoSouza17">Meu Github</a><br>
        <strong> Siga: </strong> <a href="https://www.linkedin.com/in/thiago-dos-santos-souza-b4183553/">Meu Linkedin</a>
    </p>
</address>

