@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
<h3 class="py-3">@ViewData["Message"]</h3>

<address>
    <p>
    One Microsoft Way<br>
    Redmond, WA 98052-6399<br>
    P: 425.55.0100<br>
    </p>
    <p>
        <strong>Support:</strong><a href="mailto:Support@example.com"> Support@example.com</a><br>
        <strong>Marketing:</strong><a href="mailto:Marketing@example.com"> Marketing@example.com</a><br>
</p>
</address>

